project:
  type: website

website:
  site-url: "https://ubvu.github.io/open-handbook"
  title: "Research Support Handbook"
  description: "A place for all things open research at VU Amsterdam."
  favicon: public/favicon.png
  repo-url: https://github.com/ubvu/open-handbook
  issue-url: https://github.com/ubvu/open-handbook/issues/new/choose
  repo-actions: [edit, issue]
  page-navigation: true
  bread-crumbs: true
  sidebar:
    - id: sb-yoda # will show up automatically on pages referenced in contents. 
      style: floating
      search: true
      contents: 
        - manuals/yoda/index.qmd
        - section: Yoda Portal
          contents: manuals/yoda/yoda_portal/*.qmd # Note the sorting is by filename
        - section: Data Transfer
          contents: manuals/yoda/yoda_data_transfer/*.qmd

  navbar:
    background: "#0080c9"
    logo: public/VU-logo-Dia-positief.png
    logo-alt: "VU Amsterdam logo."
    # title: "Open Handbook"
    title: false
    collapse-below: lg
    left:
      - text: "Topics"
        menu:
          - text: All
            file: topics.qmd
          - text: Policies and Legislation
            href: /topics.html#category=Policies%20and%20Legislation
          - text: Research Data
            href: /topics.html#category=Research%20Data
          - text: Research Software
            href: /topics.html#category=Research%20Software
          - text: Responsible Scholarship
            href: /topics.html#category=Responsible%20Scholarship
          - text: Tools
            href: /topics.html#category=Tools
          - text: Trainings and Knowledge Items
            href: /topics.html#category=Trainings%20and%20Knowledge%20Items
      - text: Guides
        file: guides.qmd
      - text: Manuals
        file: manuals.qmd
      - text: Blog
        file: blog.qmd
      - contributing.qmd
    tools:
      - icon: github
        href: https://github.com/ubvu/open-handbook
        text: GitHub VU Open Handbook
      # - icon: rss
      #   href: https://quarto.org/docs/blog/index.xml
      #   text: Quarto Blog RSS
  page-footer:
    left:
      - text: "CC0 Public Domain Dedication"
        href: "https://creativecommons.org/publicdomain/zero/1.0/legalcode"
    center:
      - text: "About"
        href: about.qmd
      - href: editors-guide.qmd
      - text: "GHOST Collective"
        href: https://ghostcollective.github.io/games.html
    right:
      - text: "By VU & Liberate Science GmbH"

bibliography: references.bib

resources:
  - "public/*"
  - CNAME
format:
  html:
    toc: true
    theme:
      - cosmo # https://bootswatch.com/
      - custom.scss # https://quarto.org/docs/output-formats/html-themes.html#theme-options
    code-copy: true
    code-overflow: wrap
# from: "markdown+emoji"
filters:
  - utils/include-files.lua
execute:
  freeze: auto
