@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
/*-- scss:defaults --*/
// $h2-font-size:          1.6rem !default;
// $headings-font-weight:  500 !default;
// $body-color:            $gray-700 !default;

/*-- scss:rules --*/
body {
    font-family: 'Roboto';
    line-height: 1.6666666667rem;
}

.fixed-top {
    position: absolute;
}

.navbar-logo {
    max-height: 64px;
}

header.headroom--pinned {
    transform: translateY(0%)
}

header.headroom--unpinned {
    transform: translateY(0%)
}

#quarto-sidebar {
    top: 0px;
}

.quarto-secondary-nav .quarto-search-button  {
    display: none
}

.header-section-number {
    color: #0282c9
}

.uri {
    color: #0282c9
}

.sidebar-item {
    line-height:1.2rem
}

/* Colored navbar menu */
.nav-item {
  min-width: 100px;
  height: 75px;
}

.navbar, .navbar-brand {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar .nav-item {
  align-content: center; 
  text-align: center;
}

.navbar .nav-item:nth-child(1) {
    background-color: orange;
}

.navbar .nav-item:nth-child(2) {
    background-color: green;
}

.navbar .nav-item:nth-child(3) {
    background-color: purple;
}

.hbcloser {
    letter-spacing: -0.1rem;
}

.pagebottom {
    background-color: #0282c9;
    margin-bottom: -95px;
}

.pagebottom a {
    color: white;
}

.handbook-title {
    color: grey;
    position: absolute;
    left: 1em;
    top: 80px;
    text-align: left;
}

#quarto-content {
    padding-top: 1.5em; /* space for handbook-title */
}